@charset "utf-8";

@font-face {
    font-family: 'LeferiBaseType-RegularA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'LeferiBaseType-RegularA'; */
@font-face {
    font-family: 'LeferiPoint-SpecialItalicA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-SpecialItalicA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'LeferiPoint-SpecialItalicA'; */

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #333;
    font-family: 'LeferiBaseType-RegularA';
}

.menu_open {
    display: none;
}

header {
    width: 100%;
    height: 100px;
    line-height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(230, 59, 47, 0.5);
    backdrop-filter: blur(7px);
    color: rgb(255, 255, 255);
}

header .inner {
    max-width: 1280px;
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header .inner nav ul li {
    display: inline-block;
    margin-left: 30px;
    font-family: 'LeferiPoint-SpecialItalicA';
    font-size: 20px;
    font-weight: 700;
}

.main_visual {
    height: 100vh;
}

.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont01 .list .item {
    height: 600px;
    display: flex;
    align-items: center;
}

.cont01 .list .item img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.cont01 .list .item div {
    width: 50%;
    padding: 50px;
    box-sizing: border-box;
    /* padding, border를 포함해서 설정값으로 적용 */
}

.cont01 .list .item div h4 {
    font-family: 'LeferiPoint-SpecialItalicA';
    font-size: 25px;
    margin-bottom: 15px;
}

.cont01 .list .item div a {
    display: block;
    border: 6px double #ffffff;
    border-radius: 40px;
    background-color: rgb(230, 59, 47);
    margin-top: 30px;
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    transition: 0.3s;
    box-shadow: 6px 6px 0px -2px rgb(255, 112, 102);
}

.cont01 .list .item div a:hover {
    box-shadow: 0 0 #fff;
    transform: translateY(1px);
}

.cont01 .list .item:nth-child(2) img {
    order: 2;
}

@media screen and (max-width:1024px) {
    header .inner nav {
        display: none;
    }
    .menu_open{
        display: block;
        position: relative;
    }
    .menu_open a img {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
}/* max-width:1024px */

@media screen and (max-width:640px) {
    header {
        height: 70px;
        line-height: 70px;
    }
    .cont01 {
        margin-top: 100px;
    }
    .cont01 .list .item {
        display: block;
        height: auto;
    }
    .cont01 .list .item img {
        width: 100%;
        height: 400px;
    }
    .cont01 .list .item div {
        width: 100%;
        padding: 20px;
    }
    .cont01 .list .item div a {
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    }
    .cont01 .list .item div a:hover {
        box-shadow: 0 0 #fff;
        transform: translateY(0px);
    }
}/* max-width:640px */